node_modules
*.log
.DS_Store
tsconfig.json
.git
.github
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
test/
coverage/
.gitignore
jest.config.*
*.md
!README.md
pnpm-lock.yaml
.npmignore

# Source files (we ship compiled dist/)
**/*.ts
**/*.tsx
!dist/**/*.d.ts
